<!--/*@thymesVar id="studentsList" type="java.util.List<com.geekbrains.entities.Student>"*/-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Books List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>

<body>
    <div class="container">
        <h1>Books</h1>
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <td>Id</td>
                    <td>Image</td>
                    <td>Title</td>
                    <td>Year</td>
                    <td>Short description</td>
                </tr>
            </thead>

            <tr th:each="book : ${books}" th:object="${book}">
                <td th:text="*{id}"/>
                <td th:if="*{images.size() > 0}" th:src="@{'/images/' + *{images[0].path}}" />
                <td th:text="*{title}"/>
                <td th:text="*{year}"/>
                <td th:text="*{shortDesc}"/>
            </tr>
        </table>

        <a class="btn btn-danger" th:href="@{'/books/add/'}" role="button">Add new book</a>
    </div>
</body>
</html>